{% extends 'forum/base.html' %}
{% load static %}
{% block body %}
	<script type="text/javascript" src="{% static 'js/typed.js' %}"></script>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8" style="margin-top: 10px;">
				<center><h1 class="type" style="color: #fff; font-size: 45px; font-weight: 700; margin-bottom: 20px; font-family: Verdana; margin-top: 25px;"></h1>
				<!-- <img src="{% static 'images/img1.jpg' %}"  width="100%" style="margin-top: 5px;">-->
				</center>
				
				<div class="container" style="margin-top: 40px;">
					<span class="badge badge-pill badge-danger" style="margin-bottom: 20px; padding: .875em; color: #5e72e4; border-color: #5e72e4; background-color: #ccc; text-align: center; border-radius: 0; font-size:18px; font-weight: 700;">Blog Posts: </span><br>
					<div class="row">
						{% for post in posts %}
							<div class="col-md-4" style="margin-right: 40px;">
								<div class="card" style="width: 30rem; height: 25rem; display: inline-block;">
									<div class="card-body">
										<h3 class="card-title" style="text-align: center;">{{ post.title}}</h3>
										<p class="card-text" style="text-align: center;">{{ post.body| truncatechars:160 }}</p>
										<center><a href="/post/{{post.id}}" class="btn btn-primary">Read more</a></center>
									</div>
								</div>
								<br><br>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div>
				<script type="text/javascript">
						var typed = new Typed(".type", {
					strings: ["Hello World!",
					"Welcome to College Forum",
					"Ask Questions",
					"Answer and Discuss",
					"Plan your Studies"],
					typeSpeed: 30,
					backSpeed: 25,
					loop: true,
					showCursor: false
					});
				</script>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
{% endblock %}