{% extends 'forum/base.html' %}
{% load static %}
{% block body %}
	<script type="text/javascript" src="{% static 'js/typed.js' %}"></script>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8" style="margin-top: 10px;">
				<center><h1 class="type" style="color: #fff; font-size: 45px; font-weight: 700; margin-bottom: 20px; font-family: Verdana; margin-top: 25px;"></h1>
				<img src="{% static 'images/img1.jpg' %}"  width="100%" style="margin-top: 5px;"></center>
				<hr>
				<span class="badge badge-pill badge-danger" style="margin-bottom: 20px; padding: .875em; color: #5e72e4; border-color: #5e72e4; background-color: #ccc; text-align: center; border-radius: 0; font-size:18px; font-weight: 700;">Blog Posts: </span><br>
				<div class="container">
					<div class="row">
						<div class="col-md">
							{% for post in posts %}
								<div class="card" style="width: 60rem; display: inline-block; margin-left: 45px;">
									<div class="card-body">
										<h3 class="card-title">{{ post.title}}</h3>
										<p class="card-text">{{ post.body|truncatechars:30 }}</p>
										<a href="/post/{{post.id}}" class="btn btn-primary">Read more</a>
									</div>
								</div>
								<br><br>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div>
				<script type="text/javascript">
						var typed = new Typed(".type", {
					strings: ["Hello World!",
					"Welcome to College Forum",
					"Ask Questions",
					"Answer and Discuss",
					"Plan your Studies"],
					typeSpeed: 30,
					backSpeed: 25,
					loop: true,
					showCursor: false
					});
				</script>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
{% endblock %}